:root {
    --font-base: 'Mulish', serif;
    --font-alt: 'Open Sans', sans-serif;

    --color-golden: #DCCA87;
    --color-black: #0C0C0C;
    --color-green: #304F47;
    --color-brown: #C7923E;

  }

  .custom__button {
    padding: 11px 24px;
    background: #C7923E;
    border: none;
    color: #fff;
    border-radius: 8px;
    width: 120px;
    cursor: pointer;
    font-family: 'Mulish';
  }
  
  .flex__center {
    display: flex;
    justify-content: center;
    align-items: center;
  }